/* My style sheet required a lot of trial and error/googling so some of it might not be necessary and needs to be cleaned up a bit */
body {
    margin: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #ffffff;
    background-image: url("../images/gravel.png");
  }
  
  header {
    
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background: #ffffff;
    background-color: #ffffff;
    margin-bottom: 25px;
    border-bottom: 2px solid;
    border-color: #cccccc;
  }
  footer {
    background: #ffffff;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 10px;
    position: fixed;
    color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  hr {
      border-top: 2px solid #cccccc;
      margin-bottom: 25px;
  }
  
  h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0 20px;
    margin: 0;
    height: 100%;
    font-size: 28px;
    background-color: #4aaaa5;
    color: #eee;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #4aaaa5;
  }

  .navbar {
    align-items: center; 
    width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  #aboutLink,
  #portfolioLink {
      padding-right: 5px;
      Border-right: solid 2px #cccccc;
  }
  .navbar a {
      height: 100%;
      color: #cccccc;
      text-decoration: none;
  }

  .container {
    padding: 20px;
    box-sizing: border-box;
    border: solid #cccccc 2px;
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    color: #777777;
  }
  
  #bio-image {
    display: inline;
  }
  
  #bio-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  #footer {
      padding-top: 20px;
      margin: 0;
      color: #cccccc;
  }
  form > *:not(:last-child) {
      width: 100%;
  }
  